* {
  box-sizing: border-box;
}

.home {
  /* border: 2px solid black; */
  padding: 1%;
}

/* .myCarousel {
  border: 5px solid green;
} */

.myCarousel-controls {
  /* border: 4px solid blue; */
  position: absolute;
  left: 50%;
  bottom: -7vw;
  transform: translateX(-50%);
}

.myCarousel-indicators {
  /* border: 1px solid red; */
  position: relative;
  margin: 0;
}

.myIndicator {
  /* border: 2px solid purple; */
  width: 10vw;
  margin: 0 0.8vw;
  transition: all 0.3s ease;
}

.myIndicator.active {
  transform: scale(1.2);
}

.myIndicator-content {
  /* border: 3px solid transparent; */
  border-radius: 0.5rem;
  width: 100%;
}

.myCarousel-control-next,
.myCarousel-control-prev {
  height: 60px;
  width: 60px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.myCarousel-control-next:hover,
.myCarousel-control-prev:hover {
  box-shadow: 0 0 10px #000;
}
.myCarousel-control-next img,
.myCarousel-control-prev img {
  width: 30px;
}
.myCarousel-control-next {
  right: -90px;
}
.myCarousel-control-prev {
  left: -90px;
}

/* .myCarousel-inner {
  border: 5px solid yellow;
} */

.myCarousel-item {
  /* border: 3px solid brown; */
  height: inherit;
}

.mySlide {
  /* border: 2px solid red; */
  width: 73vw;
  margin: auto;
  display: block;
  position: relative;
}

.coffee {
  width: 35%;
  display: block;
  margin: auto;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%);
}

.fullscreen-icon,
.fullscreenExit-icon {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.1rem;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 30;
}

.fullscreen-icon {
  right: 13vw;
  bottom: 0.5vw;
}

.fullscreenExit-icon {
  right: 0.5vw;
  bottom: 0.5vw;
  /* bottom: 3.5vw; */
}

.fullscreenExit-icon {
  display: none;
}

/* CSS pour javascript */

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.widthFullscreen {
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
}

.widthNormal {
  width: 73vw;
  top: 0;
  transform: 0;
}
